@mixin font-face( $font-name, $font-path, // path + file name. Ex : path/to/font/filename

$font-style: normal, $support-required: 'modern') {
  @font-face {
    font-family: $font-name;
    font-style : $font-style;
    src: url('#{$font-path}.woff2') format('woff2'),

    url('#{$font-path}.woff') format('woff')

    ;
  }
}