// Colors
$white: #ffffff;
$black: #000000;

// Sizes
$base-font-size: 16px;

// Fonts
$Black: 'GothamPro-Black', -apple-system, Droid Sans, sans-serif;
$Bold: 'GothamPro-Bold', -apple-system, Droid Sans, sans-serif;
$Medium: 'GothamPro-Medium', -apple-system, Droid Sans, sans-serif;
$Reg: 'GothamPro', -apple-system, Droid Sans, sans-serif;
$default-font: $Reg;


$content-size: 1024px;

//Colors
$color-primary: #20C4F4;
$color-light: #ffffff;
$color-dark: #0C2146;
$color-accent: #ed193e;
$color-content: #f4f8f9;
$color-img: #dbdbdb;
$color-content-text: #9eaebe;
$color-content-text-secondary: #647280;
$color-text: rgba(25, 36, 70, 0.65);
$color-index-up: #2db43a;
$color-index-down: #ed193f;
$color-account-button: #b1dbf8;
$color-landing-text-dark: #192446;

//colors CPshop
$color-light-secondary: #e6e6e6;
$color-dark-secondary: #0c1224;
$color-success: #2db43a;
$color-text-dark: #1f2047;
$color-text-title: #282828;
$color-text-jewelry: #282828;


//colors Jewelry
$color-jewelry-text-dark: #252525;
$color-grey: #898997;
$color-jewelry-grey: #cdcdcd;

