//- link(rel="shortcut icon" href="/static/images/favicons/favicon.ico" type="image/x-icon")
//- link(rel="icon" href="/static/images/favicons/favicon.ico" type="image/x-icon")
//- link(rel="icon" href="/static/images/favicons/android-chrome-192x192.png" sizes="192x192" type="image/png")
//- link(rel="apple-touch-icon" href="/static/favicons/images/apple-touch-icon.png")